# Configuración de Base de Datos (Externa o Compartida)
DB_HOST=solufact-db
DB_NAME=sistemaventas
DB_USER=root
DB_PASSWORD=secret_password

# Seguridad
JWT_SECRET=TU_CLAVE_SECRETA_JWT_MUY_LARGA_AQUI_PARA_PRODUCCION
